.ItemDetails {
   .item-img {
      border-radius: 10px;
      max-width: 200px;
      width: 100%;
      overflow: hidden;
      img {
         max-width: 100%;
         height: auto;
      }
   }
   .item-info {
      width: 100%;
      .item-name {
         font-size: 40px;
      }
   }
}

.NoItemSelectedMessage {
   font-size: 17px;
   font-weight: 500;
   width: 100%;
   text-align: center;
}